/* ------------------- */
/* Custom Properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-black: 0 0% 0%;
    --clr-dark-blue: 257 67% 51%;
    --clr-purple: 257 100% 64%;
    --clr-pink: 347 97% 70%;
    --clr-yellow: 41 100% 70%;
    --clr-white: 0 0% 100%;

    /* font-sizes */
    --fs-700: 3.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
    --fs-300: 0.875rem;
    
    /* font-families */
    --ff-sans: 'Space Grotesk', sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

/* set up the body */
body {
    font-family: var(--ff-sans);
    font-size: var(--fs-400);
    line-height: 1.5;
    min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
    /* border: 2px solid red; */
}

.flow--space-small {
    --flow-space: .5rem;
}

.container {
    padding-inline: 1em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* colors */
.bg-black { background-color: hsl( var(--clr-black) ); }
.bg-dark-blue { background-color: hsl( var(--clr-dark-blue)); }
.bg-purple { background-color: hsl( var(--clr-purple)); }
.bg-pink { background-color: hsl( var(--clr-pink)); }
.bg-yellow { background-color: hsl( var(--clr-yellow)); }
.bg-white { background-color: hsl( var(--clr-white)); }

.text-black { color: hsl( var(--clr-black) ); }
.text-dark { color: hsl( var(--clr-black) / .7 ); }
.text-mid { color: hsl( var(--clr-purple)); }
.text-light { color: hsl( var(--clr-white)); }

/* typography */
.ff-sans { font-family: var(--ff-sans); }

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }
.semi-bold { font-weight: 500;}
.bold { font-weight: 700;}

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.border-0 { border-radius: 20px; }
.border-1 { border-radius: 40px; }
.border-2 { border-radius: 100px; }
.border-3 { border-radius: 50%; }

.title {
    padding-block: 1rem;
}

.flex .center-btn {
    justify-content: center;
    padding-block: .75rem;
}

.space-evenly {
    justify-content: space-evenly;
}

.box-shadow {
    box-shadow: 0px 10px 0px 0px hsl( var(--clr-black) ) 
}

/* ------------------- */
/* Compontents         */
/* ------------------- */

.button {
    cursor: pointer;
    border: 3px solid #000;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
    padding-inline: .5rem;
    /* padding-block: .5rem; */
    margin-block: 20px;
    box-shadow: 0px 10px 0px 0px hsl( var(--clr-black) );
}

.button > img {
    width: 50px;
    height: 50px;
}

a:hover {
    background-color: hsl( var(--clr-pink));
}

.menu {
    text-decoration: none;
    padding-inline: 1rem;
    padding-block: .4rem;
    height: 50%;
    align-self: center;
}

.check-icon {
    /* width: 2%; */
}

#typography span {
    margin-inline: 1.25rem;
}

/* .container [aria-selected="true"] {
    background-color: red;
} */

#interactive-elements .flex {
    justify-content: space-between;
}

/* main menu */
.logo {
    margin: 2em auto;
    padding-block-start: 3rem;
}

.main-menu {
    margin-block: 2em;
}

/* game rules */

.game-rules {
    display: none;
    /* width: 375px; */
    padding: 20px 20px;
    flex-direction: column;
    align-items: flex-start;
    border: 3px solid hsl( var(--clr-black) );
    box-shadow: 0px 10px 0px 0px;
    position: relative;
}

@counter-style no-decimal-point {
    system: extends decimal;
    suffix: '';
    font-weight: 700; 
  }
  
  ol {
    list-style: no-decimal-point;
    /* align-self: start; */
    padding-left: .25em;
    /* font-weight: bold; */
  }
  
  li {
    padding-inline-start: .75em;
    padding-block-end: .75em;
    font-feature-settings: 'clig' off, 'liga' off;
  }

  ol li::marker {
    font-weight: bold;
    color: hsl( var(--clr-black) )
  }

  .close-rules-btn {
    background-color: hsl( var(--clr-black) / 0 );
    border: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }