/* ------------------- */
/* Custom Properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-black: 0 0% 0%;
    --clr-dark-purple: 257 67% 51%;
    --clr-purple: 257 100% 64%;
    --clr-red: 347 97% 70%;
    --clr-yellow: 41 100% 70%;
    --clr-white: 0 0% 100%;

    /* font-sizes */
    --fs-800: 3.5rem;
    --fs-700: 2rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
    --fs-300: 0.875rem;

    /* font-weight */
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
    --fw-400: 400;
    --fw-300: 300;
    
    /* font-families */
    --ff-sans: 'Space Grotesk', sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

/* set up the body */
body {
    font-family: var(--ff-sans);
    font-size: var(--fs-400);
    line-height: 1.5;
    min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
    /* border: 2px solid red; */
}

.flow--space-small {
    --flow-space: .5rem;
}

.container {
    padding-inline: 2.5em;
    margin-inline: auto;
    /* width: 30rem; */
    max-width: 80rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* colors */
.bg-black { background-color: hsl( var(--clr-black) ); }
.bg-dark-purple { background-color: hsl( var(--clr-dark-purple)); }
.bg-purple { background-color: hsl( var(--clr-purple)); }
.bg-red { background-color: hsl( var(--clr-red)); }
.bg-yellow { background-color: hsl( var(--clr-yellow)); }
.bg-white { background-color: hsl( var(--clr-white)); }

.text-black { color: hsl( var(--clr-black) ); }
.text-dark { color: hsl( var(--clr-black) / .7 ); }
.text-mid { color: hsl( var(--clr-purple)); }
.text-light { color: hsl( var(--clr-white)); }

/* typography */
.ff-sans { font-family: var(--ff-sans); }

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }
.semi-bold { font-weight: 500;}
.bold { font-weight: 700;}

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fw-700 { font-weight: var(--fw-700); }
.fw-600 { font-weight: var(--fw-600); }
.fw-500 { font-weight: var(--fw-500); }
.fw-400 { font-weight: var(--fw-400); }
.fw-300 { font-weight: var(--fw-300); }

.border-0 { border-radius: 20px; }
.border-1 { border-radius: 40px; }
.border-2 { border-radius: 100px; }
.border-3 { border-radius: 50%; }

.title {
    padding-block: 1rem;
}

.flex .center-btn {
    justify-content: center;
    padding-block: .75rem;
}

.space-evenly {
    justify-content: space-evenly;
}

.box-shadow {
    box-shadow: 0px 10px 0px 0px hsl( var(--clr-black) ); 
}

/* .box-shadow:hover {
    box-shadow: 0px 10px 0px 0px hsl( var(--clr-red) ); 
} */

/* ------------------- */
/* Compontents         */
/* ------------------- */

a {
    text-decoration: none;
}

.button {
    cursor: pointer;
    border: 3px solid #000;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
    padding-inline: .5rem;
    /* padding-block: .5rem; */
    margin-block: 20px;
}

.box-shadow {
    box-shadow: 0px 10px 0px 0px hsl( var(--clr-black) );
}

.button > img {
    width: 82px;
}

.box-shadow:hover {
    box-shadow: 0px 10px 0px 0px hsl( var(--clr-dark-purple) );
}

.no-shadow:hover {
    cursor: pointer;
    background: hsl( var(--clr-red));
}

.close-rules-btn:hover {
    background-color: hsl( var(--clr-red) / 0)
}

.main-menu-btn {
    font-size: 1.5rem;
    font-weight: var(--fw-700);
    border-radius: 1.25rem;
    border: 3px solid var(--Black, #000);
    box-shadow: 0px 10px 0px 0px #000;
    height: 4.5rem;
}

.menu {
    text-align: center;
    text-decoration: none;
    padding-inline: 1rem;
    padding-block: 0.609375rem;
    height: 50%;
    align-self: center;
}

.check-icon {
    /* width: 2%; */
}

#typography span {
    margin-inline: 1.25rem;
}
/* .container [aria-selected="true"] {
    background-color: red;
} */

#interactive-elements .flex {
    justify-content: space-between;
}

/* main menu */
.logo {
    margin: 2em auto;
    padding-block-start: 3rem;
}

.main-menu {
    margin: 5em auto;
    padding: 4.6875rem 1.25rem 19rem 1.25rem; 
    /* background-color: red; */
    max-width: 30rem;
    max-height: 27.1875;
}

/* game rules */

.game-rules {
    display: none;
    /* width: 375px; */
    padding: 20px 20px;
    flex-direction: column;
    align-items: flex-start;
    border: 3px solid hsl( var(--clr-black) );
    box-shadow: 0px 10px 0px 0px;
    position: relative;
}

@counter-style no-decimal-point {
    system: extends decimal;
    suffix: '';
    /* font-weight: 700;  */
  }
  
  ol {
    list-style: no-decimal-point;
    /* align-self: start; */
    padding-left: .25em;
    /* font-weight: bold; */
  }
  
  li {
    padding-inline-start: .75em;
    padding-block-end: .75em;
    font-feature-settings: 'clig' off, 'liga' off;
  }

  ol li::marker {
    font-weight: bold;
    color: hsl( var(--clr-black) )
  }

  .close-rules-btn {
    cursor: pointer;
    background-color: hsl( var(--clr-black) / 0 );
    border: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

/* ------------------- */
/* Game Board          */
/* ------------------- */

.main {
    margin-inline: .05em;
}

.nav {
    /* flex-direction: row; */
    padding-inline: 1em;
}

.nav > .logo {
    width: 2.5rem;
    padding: 0;
}

.nav > a {
    width: 6.5rem;
}

.board {
    width: 20.9375rem;
    height: 19.375rem;
    background-color: hsl( var(--clr-white));
    border: 3px solid hsl( var(--clr-black) );
    margin: 2em auto;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    z-index: 1000;
    position: relative;
    box-shadow: 0px 10px 0px 0px hsl( var(--clr-black) )
}

/* .boardBgd {
    width: 2rem;
    height: 19.375rem;
    background-color: hsl( var(--clr-black));
    border: 3px solid hsl( var(--clr-black) );
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    position: absolute;
    z-index: -1;
    top: 7.5rem;
    left: .55rem;
    
} */

.tile {
    width: 2.12025rem;
    height: 2.1233125rem;
    background: hsl( var(--clr-purple));
    border-radius: 50%;
    margin: .2em;
    border: 3px solid hsl( var(--clr-black) );
}

/* .tileBgd {
    width: 2.12025rem;
    height: 2.1233125rem;
    background: hsl( var(--clr-purple));
    border-radius: 50%;
    margin: .2em;
} */

.red-piece {
    background-color: hsl( var(--clr-red));
}

.yellow-piece {
    background-color: hsl( var(--clr-yellow) );
}

.score {
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.score > player {
    width: 100%;
}

.timer-container-red {
    /* display: none; */
    background-image: url(assets/images/Rectangle\(1\).svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 9.375rem;
    width: 11.9rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* top: 100; */
}

.timer-container-yellow {
    display: none;
    background-image: url(assets/images/Rectangle\(2\).svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 9.375rem;
    width: 11.9rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* top: 100; */
}

.player {
    border: 3px solid hsl( var(--clr-black) );
    padding-block: .5em 0;
}

.player-one {
    padding-inline: 2em;
}

.player-two {
    padding-inline: 2em;
}

.player-one,
.player-two {
    position: relative;
}

.red-icon {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    z-index: 10;
}

.yellow-icon {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    right: 0;
    z-index: 10;
}

.timer-container-text {
    margin-block-start: 2.5em;
}

div > p {
    text-align: center;
}

.winner-background {
    display: none;
    position: fixed;
    left: 0;
    margin: 0;
    width: 100%;
    border: 2px solid red;
    height: 100rem;
    border-radius: 60px 60px 0 0;
}

.winner-container {
    display: none;
    margin: auto;
    width: 17.8125rem;
    height: 10rem;
    flex-shrink: 0; 
    border-radius: 1.25rem;
    border: 3px solid var(--Black, #000);
    background: var(--White, #FFF);
    box-shadow: 0px 10px 0px 0px #000;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50000;
}

.winner-text-container {
    /* padding-block: 1em 0; */
}
.winner-text {
    text-align: center;
}

.timer-background {
    position: fixed;
    left: 0;
    margin: 0;
    width: 100%;
    /* border: 2px solid red; */
    height: 100rem;
    border-radius: 100px 100px 0 0;
}

.btn-play-again {
    padding: .5em 1em;
    border: none;
}

@media (min-width: 768px) {
    .main-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
        border: 3px solid red;
    }
}

@media (min-width: 90rem) {
    .main-menu {
        display: flex;
        width: 90rem;
        height: 56.25rem;
        padding: 14.5rem 30rem 14.5625rem 30rem;
        justify-content: center;
        align-items: center; 
    }
}